/*Header*/
#headerBar {
    background-color: rgb(50,50,50);
}

/*MacroBuddy Banner Logo*/
#banner {
    width: 750px;
}

/*Body Tag*/
body {
    font-size: medium;
    color: white;
    background-color: rgb(29, 139, 107);
    padding-bottom: 150px;
}

/*Div Block For All Text*/
#allText {
    border: 3px solid rgb(50,50,50);
}

/*Div Block for Introduction Text*/
#introBlock {
    width: 80%;
}

/*Paragraph Tag*/
p {
    font-size: large;
}

/*Question Paragraph (ie. "What is your name?")*/
#question {
    font-size: 25px;
}

/*Horizontal Rule Tag*/
hr {
    border: 1px solid black;
}

/*Table Row Tag*/
tr {
    cursor: pointer;
    text-align: center;
}

/*Input Tag - Text Field*/
input[type=text] {
    text-align: center;
}

/*Input Tag - Button*/
input[type=button] {
    color: rgb(29, 139, 107);
}

/*Input Tag - Activity Factor Radio Button*/
input[name=radioAF] {
    width: 100%;
}

/*GoMacroBuddy Button*/
#btnGoMB {
    color: white;
    width: 100%;
}

/*Footer*/
#footerBar {
    background-color: rgb(50,50,50);
}