#banner {
    width: 40%;
}

body {
    font-size: large;
    color: white;
    background-color: rgb(29, 139, 107);
}

#headerBar {
    background-color: rgb(50,50,50);
}

#allText {
    border: 3px solid rgb(50,50,50);
}

#introBlock {
    width: 80%;
}

hr {
    border-color: black
}

tr {
    cursor: pointer;
    text-align: center;
}

input[type=text] {
    text-align: center;
}

input[type=button] {
    color: rgb(29, 139, 107);
}

input[name=radioAF] {
    width: 100%;
}