#banner {
    width: 750px;
}

body {
    font-size: medium;
    color: white;
    background-color: rgb(29, 139, 107);
    padding-bottom: 150px;
}

#headerBar {
    background-color: rgb(50,50,50);
}

#allText {
    border: 3px solid rgb(50,50,50);
}

#introBlock {
    width: 80%;
}

p {
    font-size: large;
}

hr {
    border: 1px solid black;
}

tr {
    cursor: pointer;
    text-align: center;
}

input[type=text] {
    text-align: center;
}

input[type=button] {
    color: rgb(29, 139, 107);
}

input[name=radioAF] {
    width: 100%;
}

#btnGoMB {
    color: white;
    width: 100%;
}

#footerBar {
    background-color: rgb(50,50,50);
}