body {
    font-size: medium;
    color: white;
    background-color: rgb(29, 139, 107);
    padding-bottom: 150px;
}

#headerBar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(50,50,50);
}

#logo {
    width: 190px;
}

p {
    font-size: large;
}

#orderedList {
    list-style-position: inside;
}

hr {
    border: 1px solid black;
}

#tableTitle {
    font-size: 35px;
}

th {
    text-align: center;
}

img {
    width: 200px;
}

input .btn {
    display: inline-block;
    width: 100px;
}

#footerBar {
    background-color: rgb(50,50,50);
}
