#headerBar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(50,50,50);
}

#logo {
    width: 10%;
}

body {
    font-size: medium;
    color: white;
    background-color: rgb(29, 139, 107);
    padding-bottom: 150px;
}

thead {
    text-align: center;
}

thead tr th {
    font-size: 25px;
}

tbody {
    background-color: rgb(75,75,75);
}

.columnLabel {
    text-align: center;
    font-style: italic;
}

#footerBar {
    background-color: rgb(50,50,50);
}