#headerBar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(50,50,50);
}

#logo {
    width: 10%;
}

body {
    font-size: medium;
    color: white;
    background-color: rgb(29, 139, 107);
    padding-bottom: 150px;
}

#footerBar {
    background-color: rgb(50,50,50);
    color: white;
}